/* General styles */
html, body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(135deg, rgb(45, 45, 45), rgb(90, 90, 90));
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

/* #root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */