/* General styles */
html, body {
  height: 100%;
  margin: 0;
  background-image: -webkit-linear-gradient(135deg, rgb(31, 31, 204), rgb(24, 199, 24));
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}